<!doctype html>
<html lang="en" ng-app="PaymentApp">
  <head>
    <meta charset="utf-8">
    <title>Payment App</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/userController.js"></script>
    <script src="js/controller/groupController.js"></script>
    <script src="js/userDataService.js"></script>

  </head>

  <body ng-controller="UserController as userCtrl" >
    <section id='access-options' ng-hide='userCtrl.isLoggedIn()'>

      <section id='choose-action' ng-show="userCtrl.noOptionChosen()">
        <button id='choose-signup' ng-click="userCtrl.chooseSignUp = true;">Sign up</button>
        <button id='choose-login' ng-click="userCtrl.chooseLogIn = true;">Log in</button>
      </section>

      <section id='user-registration' ng-show="userCtrl.chooseSignUp">
      <form>
        username:<br>
        <input type="text" ng-model="userCtrl.userName" required><br>
        email:<br>
        <input type="email" ng-model="userCtrl.email" required><br>
        password:<br>
        <input type="password" ng-model="userCtrl.password" required>
        <br>
        password confirmation:<br>
        <input type="password" ng-model="userCtrl.passwordConfirmation" required>
        <br>
        <input id="signUp" type="submit" value="Submit" ng-click="userCtrl.signUp()">
      </form>
      </section>

      <section id='user-login' ng-show="userCtrl.chooseLogIn">
      <form>
        email:<br>
        <input type="email" ng-model="userCtrl.email" required><br>
        password:<br>
        <input type="password" ng-model="userCtrl.password" required>
        <input id="logIn" type="submit" value="Submit" ng-click="userCtrl.signUp()">
      </form>
      </section>

    </section>


    <section id="display-if-logged-in" ng-controller='GroupController as groupCtrl' ng-show="userCtrl.isLoggedIn()">
      <h2> Welcome, {{userCtrl.userName}}</h2>
      <button id='add-group' ng-click="show = true;">Add group</button>

      <section id="group-creation" ng-show="show">
        <input id='add-group-name' placeholder='Set group name' type='text' required/>

        <input id='searchbar' ng-model='query' placeholder='Search for a user' type='text'/>

        <section id='users-list'>
          <ul>
            <li ng-repeat="user in groupCtrl.allUsers | filter: query" >
              <a href="" ng-click="groupCtrl.addUser(user)" class='users'>
                {{user.name}}
              </a>
            </li>
          </ul>
          Users in group:<span class='users-in-group' ng-repeat="user in groupCtrl.groupUsers">{{user.name}}</span>
        </section>
      </section>
    </section>

  </body>



  </html>
