<!doctype html>
<html lang="en" ng-app="PaymentApp">
  <head>
    <meta charset="utf-8">
    <title>Payment App</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/userController.js"></script>
    <script src="js/userDataService.js"></script>

  </head>

  <body ng-controller="UserController as userCtrl">
    <section id='user-registration' ng-hide="userCtrl.isLoggedIn()">
    <form>
      username:<br>
      <input type="text" ng-model="userCtrl.userName"><br>
      email:<br>
      <input type="email" ng-model="userCtrl.email">
      password:<br>
      <input type="password" ng-model="userCtrl.password">
      <br>
      <input id="signUp" type="submit" value="Submit" ng-click="userCtrl.signUp()">
    </form>
    </section>
    <h2 ng-show="userCtrl.isLoggedIn()"> Welcome, {{userCtrl.userName}}</h2>

  </body>

  </html>
