<body ng-controller="UserController as userCtrl" >
  <div class='col-md-3'></div>

  <div class='col-md-6'>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><span id="beer"> 🍺 </span> whose round is it anyway?</a>
        </div>
      </div>
    </nav>

    <div class="content">

      <div ng-include="'user.html'"></div>
      
      <section id="display-if-logged-in" ng-controller='GroupController as groupCtrl' ng-show="userCtrl.loggedInStatus">
        <div class='log-container'>
          <span id='logged-in-as'> logged in as  {{userCtrl.userName}}</span>
          <button id='logout' ng-click="userCtrl.logOut()">Log out</button>
        </div>

        <div ng-include="'group.html'"></div>

        <div ng-include="'payment.html'"></div>
      </section>
    </div>
  </div>
  <div class='col-md-3'></div>

</body>
