<body ng-controller="UserController as userCtrl" >
<section id='access-options' ng-hide='userCtrl.isLoggedIn()'>

  <section id='choose-action' ng-show="userCtrl.noOptionChosen()">
    <button id='choose-signup' ng-click="userCtrl.chooseSignUp = true;">Sign up</button>
    <button id='choose-login' ng-click="userCtrl.chooseLogIn = true;">Log in</button>
  </section>

  <section id='user-registration' ng-show="userCtrl.chooseSignUp">
  <form>
    username:<br>
    <input type="text" name='username' ng-model="userCtrl.userName" required><br>
    email:<br>
    <input type="email" name='email' ng-model="userCtrl.email" required><br>
    password:<br>
    <input type="password" name='password' ng-model="userCtrl.password" required>
    <br>
    password confirmation:<br>
    <input type="password" name='password_confirmation' ng-model="userCtrl.passwordConfirmation" required>
    <br>
    <input id="signUp" type="submit" value="Submit" ng-click="userCtrl.signUp()">
  </form>
  </section>

  <section id='user-login' ng-show="userCtrl.chooseLogIn">
  <form>
    email:<br>
    <input type="email" ng-model="userCtrl.email" required><br>
    password:<br>
    <input type="password" ng-model="userCtrl.password" required>
    <input id="logIn" type="submit" value="Submit" ng-click="userCtrl.signUp()">
  </form>
  </section>

</section>

<section id="display-if-logged-in" ng-controller='GroupController as groupCtrl' ng-show="userCtrl.isLoggedIn()">
  <h2> Welcome, {{userCtrl.userName}}</h2>
  <section id='creating-group' ng-hide=groupCtrl.isGroupCreated()>

  <button id='add-group' ng-click="show = true;">Add group</button>

    <section id="group-creation" ng-show="show">
      <input id='add-group-name' ng-model="groupCtrl.groupName" placeholder='Set group name' type='text' required/>

      <input id='searchbar' ng-model='query' placeholder='Search for a user' type='text'/>

      <section id='users-list'>
        <ul>
          <li ng-repeat="user in groupCtrl.allUsers | filter: query" >
            <a href="" ng-click="groupCtrl.addUser(user);" class='users'>
              {{user.name}}
            </a>
          </li>
        </ul>
        Users in group:
        <span class='users-in-group' ng-repeat="user in groupCtrl.groupUsers">{{user.name}}{{$last ? '' : ', '}} </span>
      </section>
      <button id='create-group' ng-click="groupCtrl.createGroup()">Create Group</button>
    </section>
  </section>

  <section id="payments" ng-show="groupCtrl.isGroupCreated()">
    <h1 id='group-title'>{{groupCtrl.groupName}}</h1>
    Users in group:
    <span class='users-in-group' ng-repeat="user in groupCtrl.groupUsers">{{user.name}}{{$last ? '' : ', '}} </span>
  </section>
</section>

</body>
