<section id="payments" ng-show="groupCtrl.isGroupCreated()" ng-controller="PaymentController as paymentCtrl">
  <h1 id='group-title'>{{groupCtrl.groupName}}</h1>
  Users in group:<br />
  <span class='users-in-group' ng-repeat="user in groupCtrl.groupUsers">{{user.username}}{{$last ? '' : ', '}} </span><br /><br />

  <button id='update-payer' ng-click="paymentCtrl.updateCurrentPayer
  (); paymentCtrl.setShowPayer();">So... whose round is it anyway?</button>

  <section id='who-is-paying' ng-show="paymentCtrl.showPayer()">

    The current payer is...<br /><br /><br />
    <h2 id='current-payer'> {{paymentCtrl.getPayerName();}} </h2><br />

    <input type='text' ng-model="paymentCtrl.paymentAmount"/>
    <button id='make-payment' ng-click="paymentCtrl.pay(paymentCtrl.paymentAmount)">PAY</button>
  </section>
</section>
