<!-- <section id='access-options' ng-hide='userCtrl.isLoggedIn()'> -->
<section id='access-options' ng-hide='userCtrl.loggedInStatus'>
  <section id='choose-action' ng-show="userCtrl.noOptionChosen()">
    <button id='choose-signup' ng-click="userCtrl.chooseSignUp = true;">Sign up</button>
    <button id='choose-login' ng-click="userCtrl.chooseLogIn = true;">Log in</button>
  </section>

  <section id='user-registration' ng-show="userCtrl.chooseSignUp">
    <form>
      username:<br>
      <input type="text" name='username' ng-model="userCtrl.userName" required><br>
      email:<br>
      <input type="email" name='email' ng-model="userCtrl.email" required><br>
      password:<br>
      <input type="password" name='password' ng-model="userCtrl.password" required>
      <br>
      password confirmation:<br>
      <input type="password" name='password_confirmation' ng-model="userCtrl.passwordConfirmation" required>
      <br>
      <input id="signUp" type="submit" value="Submit" ng-click="userCtrl.signUp()">
    </form>
  </section>

  <section id='user-login' ng-show="userCtrl.chooseLogIn">
    <form>
      email:<br>
      <input type="email" name='email' ng-model="userCtrl.email" required><br>
      password:<br>
      <input type="password" name='password' ng-model="userCtrl.password" required>
      <input id="logIn" type="submit" value="Submit" ng-click="userCtrl.logIn()">
    </form>
  </section>
</section>
